* {
  font-family: "Benton Sans", Helvetica, sans-serif;
}

form * {
  border-radius: 5px;
  /* display: flex; */
}
.button {
  border: 2px solid rgb(34, 34, 34);
  /* border-radius: 5px; */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11px;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
}

.give-now {
  background-color: rgb(131, 255, 205);
  box-shadow: 4px 4px 0 rgb(34, 34, 34);
}

.give-now:hover {
  box-shadow: 2px 2px 0;
}

.amount {
  display: flex;
}

.input-amount {
  /* flex: 1; */

  /* field styles */
  border-style: solid;
  border-color: rgba(147, 128, 108, 0.25);
  border-width: 1px 1px 1px 0px;
  border-radius: 0 5px 5px 0;
  padding: 0.5em 0.75em;
}

.input-prefix {
  /* display: flex; */

  /* item styles */
  border-radius: 5px 0 0 5px;
  border-style: solid;
  border-color: rgba(147, 128, 108, 0.25);
  border-width: 1px 0px 1px 1px;
  padding: 0.5em 0.75em;
}
