.button {
  border: 2px solid rgb(34, 34, 34);
  border-radius: 5px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  font-family: "Benton Sans", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 11px;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
}
