* {
  font-family: "Benton Sans", Helvetica, sans-serif;
}

form * {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.form-container {
  width: 400px;
  background-color: #cbe9ff;
}

.info-container {
  background-color: #c454ff;
  padding: 1rem;
}

.info {
  border-radius: 5px;
  background-color: #fae7e5;
}

.amount.container {
  justify-content: space-around;
  align-items: initial;
}

.main {
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.buttons {
  padding-top: 0;
}

.button {
  outline: none;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 5px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
}

.bottom-button:hover {
  background-color: rgb(245, 245, 245);
}

.give-now {
  background-color: rgb(131, 255, 205);
  box-shadow: 4px 4px 0 rgb(34, 34, 34);
  padding: inherit;
}

.give-now:hover {
  box-shadow: 2px 2px 0;
}

.amount {
  display: flex;
  flex-direction: row;
}

.text {
  flex-direction: row;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.amount .wrapper {
  padding: 0;
}

.input-amount {
  border-style: solid;
  border-color: #222222;
  border-width: 1px 1px 1px 0px;
  border-radius: 0 5px 5px 0;
  padding: 0.5em 0.75em;
  width: 4rem;
}

.no-padding {
  padding: 0;
}

.input-prefix {
  background-color: #e5e5e5;
  border-radius: 5px 0 0 5px;
  border-style: solid;
  border-color: #222222;
  border-width: 1px 0px 1px 1px;
  padding: 0.5em 0.75em;
}

.amount-raised-bar {
  width: 65%;
  background-color: rgb(255, 176, 176);
  height: 1rem;
  padding: 0;
}

.days-left {
  padding: 0;
  font-weight: 600;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
  width: 100%;
  box-shadow: 2px 2px 0 rgb(34, 34, 34);
  padding: 0;
  height: 1rem;
  background-color: #e5e5e5;
}

.tooltip .tooltiptext {
  bottom: 1.1rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.column {
  flex-direction: column;
}

.why {
  color: #3652d3;
  padding: 0;
  justify-content: center;
}

.amount .container .wrapper {
  justify-content: flex-start;
}
