* {
  font-family: "Benton Sans", Helvetica, sans-serif;
  /* border: 1px solid blue; */
}

form * {
  /* border-radius: 5px; */
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: flex-start;
  padding: 1rem;
  /* background: #ffc761; */
  /* display: flex; */
}

.amount.container {
  justify-content: space-around;
  align-items: initial;
  /* padding: 0; */
}

.main {
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.buttons {
  padding-top: 0;
}

.button {
  border: 2px solid rgb(34, 34, 34);
  border-radius: 5px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11px;
  text-align: left;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.bottom-button:hover {
  background-color: rgb(245, 245, 245);
}

.give-now {
  background-color: rgb(131, 255, 205);
  box-shadow: 4px 4px 0 rgb(34, 34, 34);
}

.give-now:hover {
  box-shadow: 2px 2px 0;
}

.amount {
  display: flex;
  flex-direction: row;
}

.text {
  /* flex-grow: 1; */
  flex-direction: row;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.amount .wrapper {
  /* background-color: white; */
  padding: 0;
}

.input-amount {
  /* flex: 1; */

  /* field styles */
  border-style: solid;
  border-color: #222222;
  /* border-color: rgba(147, 128, 108, 0.25); */
  border-width: 1px 1px 1px 0px;
  border-radius: 0 5px 5px 0;
  padding: 0.5em 0.75em;
  width: 4rem;
}

.input-prefix {
  /* display: flex; */
  background-color: #e5e5e5;
  /* item styles */
  border-radius: 5px 0 0 5px;
  border-style: solid;
  border-color: #222222;
  border-width: 1px 0px 1px 1px;
  padding: 0.5em 0.75em;
}

.amount-raised-bar.tooltip {
  width: 65%;
  background-color: rgb(255, 176, 176);
  height: 1rem;
  padding: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  bottom: 2.5rem;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.column {
  flex-direction: column;
}

.why {
  color: #3652d3;
  padding: 0;
  /* font-size: x-small; */
}
